/* Page Container, wraps the contents of the web page. */
.page-container {
  background-color: black;
  box-sizing: border-box;
  color: skyblue;
}

/* Takes away the underline underneath the navigation links(About Us, Free HECSAP, More Support, Cast Saving Tips) */
a {
  text-decoration: none;
  color: skyblue;
}

/* Nav bar, horizontally aligned in a single row */

.nav-bar {
  display: flex;
  justify-content: space-around;
  border: solid white 3px;
  padding: 7px;
  display: flex;
  border-left: 0px;
  border-right: 0px;
}

.nav-bar a {
  font-family: "Times New Roman", serif;
  font-weight: bold;
}

/* Causes the top 8 label/input element pairs to be displayed in a grid, 2 columns by 4 rows */

.first-group-section {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(4, 1fr);
  gap: 10px;
}

/* causes the label to be vertically centered above the input for the first 8 label/input element pairs, and also does the same with the follow 4 label/input element pairs */

.column-label-input,
.row-label-input,
.comment-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
  margin-bottom: 2px;
}

/* This caused the two elements at the bottom of the survey to be grouped into a single row */
.third-group-section {
  display: flex;
  flex-direction: row;
  margin: auto;
}

/* This ceneters the bottom two elements within the survey */
.final-two-elements {
  display: flex;
  align-items: center;
  margin: auto;
}

/* This displays the heading in a block and centers it */
.heading-style {
  display: block;
  text-align: center;
}

/* Makes the "Get Your HECSAP text" bold. */

.submit-button__button {
  font-weight: 700;
}

/* h2 style */

h2 {
  color: green;
  font-family: "Arial", sans-serif;
}

.survey-title {
  color: green;
  font-family: "Helvetica", sans-serif;
}

.submit-button__button {
  background-color: skyblue;
  color: green;
}

input[type="checkbox"] {
  accent-color: skyblue;
}
