/* Simplistic style for the page that pops up after the user submits their HECSAP Survey. */

body {
  background-color: black;
  color: skyblue;
  font-family: Arial, sans-serif;
}

.container {
  max-width: 800px;
  margin: 50px auto;
  text-align: center;
  padding: 20px;
}

p {
  color: green;
  font-weight: 700;
}

.back-home-button {
  display: inline-block;
  padding: 8px 16px;
  text-align: center;
  text-decoration: none;
  border: 1px solid #000;
  border-radius: 4px;
  background-color: skyblue;
  color: green;
}
