/* Page Container, wraps the contents of the web page. */
.page-container {
  background-color: black;
  box-sizing: border-box;
}

/* Nav bar, horizontally aligned in a single row */

.nav-bar {
  display: flex;
  justify-content: space-around;
  border: solid white 3px;
  padding: 7px;
  display: flex;
  border-left: 0px;
  border-right: 0px;
}

/* styles the h1, so far, makes the text sky blue, possible idea, change font of h1 so that it's different than h2 font? */
h1 {
  color: skyblue;
}
/* Styles the h2, so far, makes the text white */
h2 {
  color: green;
}

/* Causes all link text to be colored green, and removes the underline. */
a {
  text-decoration: none;
  color: skyblue;
}

ul {
  color: green;
}

/* Wrapper of page content */

.page-content-wrapper {
  box-sizing: border-box;
  /* background-color: green; */
  width: 85%;
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
}

/* Should contain the image on the page into a fitted section of webpage */

.image-style {
  box-sizing: border-box;
  display: flex;
  width: 100%;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
}
