/* Page Container, wraps the contents of the web page. */
.page-container {
  background-color: black;
  box-sizing: border-box;
}

/* Give layout to everything between h1 down through all the images, gives space on right and left side of content */
.body-style {
  box-sizing: border-box;
  margin-left: 30px;
  margin-right: 30px;
}

/* Takes away the underline beneath the links I used for navigation(About Us, Free HECSAP, More Support, Cast Saving Tips) */
a {
  text-decoration: none;
  color: skyblue;
}

/* Nav bar, horizontally aligned in a single row */
.nav-bar {
  display: flex;
  justify-content: space-around;
  border: solid white 3px;
  padding: 7px;
  display: flex;
  border-left: 0px;
  border-right: 0px;
}

/* Nav bar font style */
.nav-bar a {
  font-family: "Times New Roman", serif;
  font-weight: bold;
}

/* h1 text layout and style */
h1 {
  color: green;
  font-family: "Arial", sans-serif;
  text-align: center;
}

/* h4 text layout and style */
h4 {
  color: white;
  font-family: "Helvetica", sans-serif;
  text-align: center;
}

/* Image label style */
label {
  color: skyblue;
  font-size: larger;
  font-family: "Times New Roman", serif;
}

/* Made grid of image layout so that there are 2 rows of 3 */
.image-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

/* Apply styling to each image container */
.image-grid div {
  text-align: center;
}

/* Style the label for each image */
.image-grid label {
  display: block;
  margin-bottom: 10px;
  font-weight: bold;
}

/* Style the images grid */
.image-grid img {
  max-width: 100%;
  height: auto;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* resized all images to be the same */
.img-size {
  max-width: 461.328px;
  max-height: 193.016px;
  min-width: 138.219px;
  min-height: 72.063px;
  width: 461.328px;
  height: 240.547px;
}
